ul.cslist {
			list-style-type: square !important;
		}

		.cs-contact{
			margin: 5% 5% 5% 5%;
			padding: 2px;
		}

		.faq p {
			text-align: left;
		}

		.faq li{
			list-style: decimal;
		}

		.cslist li{
			list-style: circle;
		}

		.outer{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin: 5% 0 0 0;
    padding: 5%;

}

.cs-about {
	margin-bottom: -5%; 
}

@media screen and (orientation: portrait) {
 .cs-about {
 	margin-bottom: -25%;
 }

}

.cs-events {
	margin-top: 0;
}
.outer img {
	width: 100%;
}

	.cs-contact-inner {
		margin-top: 5%;
	}

	.cs-logo {
		max-width: 100%;

	}